name: "Takeover rootfs Release"
on:
  workflow_dispatch:

env:
  GH_TOKEN: ${{ github.token }}

jobs:

  x86_64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - run: |
        bash create-rootfs.sh
        gh release upload x86_64 /tmp/alpine-takeover-rootfs.tar.gz --clobber
